html {
  font-family: sans-serif, Helvetica;
  font-size: 1em;
}

header {
  background-color: #eee;
  padding: 30px;
  font-size: 2em;
}

body {
  height: 100%;

}
#main-container{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  overflow: auto;
  height: 100%;
}

#content-container{
  background-color: #fff;
  overflow: auto;
  height: 100%;
  width: 100%;
}

.actions{
  padding: 20px;
}

.active{
  color: black;
  text-decoration: underline;
}

.btn-group button{
  padding: 15px;
  font-size: 1.5em;
}

#timer{
  font-size: 6em;
  padding: 20px;
}

button{
  padding: 20px;
  font-size: 1em;
  margin-top: 10px;
}

button:hover{
  cursor: pointer;
}

.bl1{
  margin-left: 10px;
}